@media (max-width: 1024px) {
    .first__heading {
        font-size: 2rem;
    }

    .first__arrow-down {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {

    .first__heading {
        font-size: 1.75rem;
    }

    .first__subheading,
    .section__headings,
    .accordion_header {
        font-size: 1.5rem;
    }

    .first__arrow-down {
        font-size: 2.5rem;
    }

    .info-box {
        padding: 0 0 1rem 0;
    }

    .info-box__heading p {
        font-size: 1.25rem;
    }

    .second__apply-btn {
        width: 100%;
        margin: 0 auto;
    }

    .apply-btn {
        font-size: 1.25rem;
    }

    #fourth p {
        text-align: center;
    }

    .footer__copyrights {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 575px) {

    .logo {
        width: 100px;
        height: 100px;
        text-align: center;
    }

    .logo .site-name {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }

    .first__headings {
        padding-top: 2rem;
    }

    .first__subheading,
    .section__headings,
    .accordion_header {
        font-size: 1.25rem;
    }

    .modal-body ul {
        padding-left: 1rem;
    }

    .card-body ul {
        font-size: 1rem;
        padding-left: 0;
    }

    .card-body ul i {
        font-size: 1.25rem;
    }

    #fourth p {
        font-size: 0.75rem;
    }
}

@media (max-width: 440px) {

    .first__subheading,
    .section__headings,
    .accordion_header {
        font-size: 1rem;
    }

    .section-box {
        padding: 1rem;
    }

    .apply-btn {
        font-size: 1rem;
    }

    .form-group,
    .footer__nav,
    .footer__copyrights {
        font-size: 0.75rem;
    }
}


@media (max-width: 375px) {
    .section-box {
        padding: 1rem 0.5rem;
    }
}